/*styling the title "Read"*/
#head {
	width: auto;
	height: 200px;
	margin-top: -100px;
    margin-right: -20px;
    margin-left: -20px;
    padding-top: 10px;
    padding-bottom: 40px;
    font-family: courier;
    text-align: center;
    cursor: pointer
}
/*styling the buttons */
.btn{
	border-width: 5px;
	border-color: #b32d00;
	width: 192px;
	height: 50px;
	color: #009999;
	font-size: 20px;
	cursor: pointer;
	font-family: courier;
}
/*styling the text "A Home For Your Books
Have your own library here, read whatever you want whenever you need" */
#space{
	padding-top: 30px;
	font-size: 40px;
	text-align: center;
	margin-bottom: 10px;
	color:  #006666;
	font-family: courier
}
/*styling the image */
#img{
	text-align: center
}
/*styling the qutes */
#qtsD{
	color: #b32d00;
	font-size: 30px;
	font-family: courier;
	text-align: center;
	margin-top: 80px
}
/*centralize the dive of buttons */
#btn2{
	text-align: center
}


